/**navegacion**/
.site-header {
    background-color: rgb(235, 225, 225);
  }
  
  .navbar a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    font-family: 'Montserrat';
    color: #2d2c35;
    font-weight: 300;
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar a:hover,
  a:focus {
    background-size: 100% 2px;
  }
  
  .logo {
    margin: 0px 20px;
  }
  
  @media (min-width: 1024px) {
    .navbar a {
      font-size: 20px;
    }
  }
  